body {
  background-color: #151515 !important;
  color: #ac74e4;
  margin: 0;
  padding: 0;
  font-family: "Lato-SemiBold", Helvetica;
  
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.div {
  text-align: center;
}

.FILMO-TEKA {
  -webkit-text-stroke: 1px #151515;
  color: #ac74e4;
  font-family: "Michroma-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  margin-top: 10px;
}

.text-wrapper {
  color: #ac74e4;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.button-wrapper {
  margin-top: 20px;
}

.btn {
  background-color: #ac74e4 !important;

  border: 1px solid #ac74e4 !important;
  padding: 10px 20px;
  margin: 0 10px;
}

.btn:hover {
  background-color: #151515;
  color: #ac74e4;
}
