.movies-container {
  display: flex;
  background-color: #151515;
 
}

.searchbar {
  height: 40px;
  width: 80%;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #151515;
  padding: 8px;
  margin-left: 260px;
}

.search-field {
  width: 100%;
  font-size: 16px;
  border: none;
  background-color: #1f1f1f;
  color: #f9f9f9;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 10px;
}


.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #151515;
  margin-left: 250px; 
  margin-top: 48px; 
  flex-grow: 1;
}


.movie-item {
  margin: 10px;
  text-align: center;
  color: #fff;
}

.movie-link {
  text-decoration: none;
  color: #fff;
}

.movie-title {
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .movies-grid {
    padding: 10px;
    margin-left: 0; 
  }
}
