.movie-details-content {
  flex-grow: 1;
  margin: 20px;
  color: #fff;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
}

.movie-poster {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.movie-details {
  color: #fff;
}

.movie-details h2 {
  color: #fff;
  margin-bottom: 10px;
}

.movie-details h5 {
  margin-bottom: 10px;
}

.movie-details p {
  margin-bottom: 5px;
}

.button {
  background-color: #ac74e4 !important;
  border: 1px solid #ac74e4 !important;
  padding: 10px 30px;
  margin-top: 10px;
  color: #fff;
}

.button:hover {
  background-color: #151515;
}

.rating-section {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.rating-section span {
  cursor: pointer;
  font-size: 20px;
  margin-right: 5px;
}

.rating-section span:hover,
.rating-section span:active {
  color: #ac74e4;
}

@media (min-width: 768px) {
  .movie-details-content {
    flex-direction: row;
  }

  .movie-details-content .col-md-4 {
    flex: 100px;
    margin-right: 20px;
  }

  .movie-details-content .col-md-8 {
    flex: 140px;
  }
}
