  .table {
    margin-left: 10px; 
    overflow-y: hidden;
  }
  
  .table th {
    text-align: center;
  }

  .table td {
    text-align: center;
  }
  
  .table tbody tr {
    margin-bottom: 10px;
  }
  

.smaller-poster {
    width: 80px; /* Możesz dostosować szerokość */
    height: auto; /* Utrzymaj proporcje obrazu */
  }
  