.recommended-item {
    display: flex;
    flex-direction: column;
  
  }
  
  .movie-details-container {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    margin-right: 20px; 
    margin-top: 30px  ;
  }
  
  .movie-poster {
    
    margin-left:300px;
    width: 210px;
  }
  
  .movie-details {
    margin-left: 20px; 
    flex-grow: 1; 
    color:aliceblue;
    text-align: left;
}
  
  